# Server
PORT=3001
NODE_ENV=development

# Database Configuration
DB=postgresql://username:password@host:port/database?sslmode=require&channel_binding=require
DB_HOST=db-host
DB_PORT=5432
DB_USERNAME=db-username
DB_PASSWORD=db-password
DB_NAME=db-name

# JWT Configuration
JWT_SECRET=secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=secret
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=id
GOOGLE_CLIENT_SECRET=secret
GOOGLE_CALLBACK_URL=http://localhost:3001/api/auth/google/callback

# WhatsApp Integration
WHATSAPP_PHONE_NUMBER_ID=your-phone-number-id
WHATSAPP_ACCESS_TOKEN=your-access-token
WHATSAPP_VERIFY_TOKEN=your-verify-token
WHATSAPP_WEBHOOK_SECRET=your-app-secret
WHATSAPP_API_VERSION=v20.0

# Frontend
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001
